<!DOCTYPE html>
<html>
<head>
  <title>home</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <nav>
    <div class="container-fluid mainNav">
      <div class="row">
        <div class="col-sm-6 text-left">
          <ul class="list-unstyled list-inline">
            <li>EvenTime</li>
            <li>Checklist</li>
            <li>Agreement</li>
            <li>Vendor Info</li>
            <li>Timeline</li>
            <li>Budget</li>
          </ul>
        </div>
        <div class="col-sm-6 text-right">
          <ul class="list-unstyled list-inline pull-right">
            <li><div class="form-group"> <button class="btn btn-default">Log Out</button>
            </div></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="leftSummary">
                <div class="row">
                  <div class="col-sm-12">
                    <h1>Summary</h1>
                    <hr />
                    <h4>180 days left</h4>
                    <h4> progress bar....</h4>
                    <h4>3 out of 100 tasks done</h4>
                    <h4>Completed Todos</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12">
                  <h1>Home Page</h1>
                  <hr />
                  <h4>How to use the feature blurb......</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                  <h4>Let's get started</h4>
                  <h4><div class="form-group"> <button class="btn btn-default">Let's plan</button>
                  </div></h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>

  <footer>
    <div class="container-fluid footer-container">
              <div class="row">
                <div class="col-sm-6">

            <a href="https://www.facebook.com/ironandglory/"><i class="fa fa-facebook-official fa-2x footerIcons" aria-hidden="true"></i></a>
            <a href="https://twitter.com/ironandglory"><i class="fa fa-twitter-square fa-2x footerIcons" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/ironandglory/"><i class="fa fa-instagram fa-2x footerIcons" aria-hidden="true"></i></a>
            <a href="https://www.pinterest.com/ironandglorynyc/?etslf=1612&eq=iron%20glory"><i class="fa fa-pinterest-square fa-2x footerIcons" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/user/Ironpatches"><i class="fa fa-youtube-square fa-2x footerIcons" aria-hidden="true"></i></a>
                </div>
                <div class="col-sm-2">
              <h4>About</h4>
              <Link to="/About"><h6>About</h6></Link>
                </div>
                <div class="col-sm-2">
              <h4>Contact</h4>
              <Link to="/Contact"><h6>Contact</h6></Link>
                </div>
                <div class="col-sm-2">
              <h4>Legal</h4>
                <Link to="/Legal"><h6>Privacy & Security</h6></Link>
                </div>
              </div>
            </div>

  </footer>
  <!-- Scripts go here. -->

  <!-- <script type="text/javascript" src="js/global.js"></script> -->
</body>
</html>
