<!DOCTYPE html>
<html>
<head>
  <title>EvenTime</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://use.fontawesome.com/622f283375.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag *webpack_asset_paths('application', extension: 'css') %>
  <link href="https://fonts.googleapis.com/css?family=Merienda+One|Merriweather" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- Stylesheets go here. -->
</head>
<body>
  <!-- nav bar -->
<div class="container-fluid topstrip">
</div>
  <div class="container-fluid indexNavBar">
    <div class="row">
      <div class="col-sm-6 text-left">
        <ul class="list-unstyled list-inline text-left">
          <li class="logotitle">EvenTime</li>
        </ul>
      </div>
      <div class="col-sm-6 text-right">
        <ul class="list-unstyled list-inline">
          <li><div class="form-group"><button class="btn btn-default" data-toggle="modal" data-target="#logInwithModal">Log In</button>
          </div></li>
          <li><div class="form-group"><button class="btn btn-default" data-toggle="modal" data-target="#signUpwithModal">Sign Up</button></div></li>
          </ul>
      </div> <!-- end div col-sm-6-->
    </div> <!--header row div-->
  </div><!--container div end-->

<!-- Modal for log in -->
<div class="modal fade" id="logInwithModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="close" class="close" data-dismiss="modal">&times;</button>
        <h4 style="color:#9E1F63;"> Sign In</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="siEmail">Email</label>
            <input type="text" class="form-control" id="siEmail" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="sIPsw">Password</label>
            <input type="password" class="form-control" id="sIPsw" placeholder="Enter password">
          </div>
          <button type="button" id="siButton" class="btn btn-default btn-block"><span class="glyphicon glyphicon-off"></span> Log In</button>
        </form>
      </div> <!-- end div for modal-body  -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
      </div> <!-- end div for modal-footer -->
    </div> <!-- end div for modal content -->
  </div> <!-- end div for modal-header -->
</div> <!-- end div for modal-fade -->
<!-- end of modal for log in -->

<!-- Modal for Sign Up -->
<div class="modal fade" id="signUpwithModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 style="color:#9E1F63;"><span class="glyphicon glyphicon-lock"></span>Sign Up</h4>
      </div>
      <div class="modal-body">
        <form role="form">
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="suEmail"> Email</label>
      <input type="text" class="form-control" id="suEmail" placeholder="Enter email" required>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="suPassword"> Password</label>
      <input type="password" class="form-control" id="suPassword" placeholder="Enter password" required>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="suConfirmPassword"> Confirm Password</label>
      <input type="password" class="form-control" id="suConfirmPassword" placeholder="Enter password" required>
    </div> <!-- end of forom-group -->
  </div> <!-- end div col-md-6 -->
</div> <!-- end div of row -->

<button type="button" id="suButton" class="btn btn-default btn-block"><span class="glyphicon glyphicon-off"></span> Sign Up!</button>
</form>
</div> <!-- end of modal-body -->
<div class="modal-footer">
  <button type="button" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
</div> <!-- end div for modal-footer -->
</div> <!-- end div for modal-content -->
</div><!-- end div for modal-dialog -->
</div> <!-- end div for sign up with modal -->
<!-- end of modal for Sign uo -->

<!-- Start of carousel -->
<div class="container-fluid thumbnail MovingCarousel">
  <div class="row">
    <div class="col-sm-12">
      <div id="featuredPhotos" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#featuredPhotos" data-slide-to="0" class="active"></li>
          <li data-target="#featuredPhotos" data-slide-to="1"></li>
          <li data-target="#featuredPhotos" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/images/Hassan.jpg" width="100%" alt="a picture" class="img-responsive">
            <div class="carousel-caption">
              <h1>EvenTime</h1>
              <p>Helping you plan your event one day at a time</p>
              </div>
          </div>
          <div class="item">
            <img src="/images/Hassan_wedding-15.jpg" width="100%" alt="a picture">
          </div>
          <div class="item">
            <img src="/images/Hassan_dancing.jpg" width="100%" alt="a picture" class="img-responsive">
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#featuredPhotos" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#featurePhotos" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end carousel -->
<hr />
<div class="container-fluid section2">
  <div class="row">
    <div class="col-sm-4">
      <img src="/images/Hassan_wedding-151.jpg" alt="a random pic" />
    </div>
    <div class="col-sm-4">
      <h1>Welcome</h1>
      <p>
        Are you planning an event and don't know where to start? Eventime will help you get started to track down those todos and get your party started.
      </p>
    </div>
    <div class="col-sm-4">
      <h1>Features</h1>
      <p>
        <ul>
          <li>Keep track of all your todos</li>
          <li>Have a count down date.. to get you ready for your day</li>
          <li>Update, delete, and add to your list</li>
          <li>Get a list of your overdue tasks</li>
          <li>Get e-mail reminders of tasts to be done</li>
        </ul>
      </p>
    </div>
  </div>
</div>

<div class="container-fluid section3">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h3>This is the best app for organizing your event!!!!</h3>
      <p>
        Come and see what all the talk is all about.  There has been talk all around the globe about how much this has helped people plan efficiently.  Take the next step and plan smart.
      </p>
    </div>
  </div>
</div>
<footer>
  <div class="container-fluid footer-container">
    <div class="row">
      <div class="col-sm-6">

        <a href="https://www.facebook.com/EvenTimeGO/"><i class="fa fa-facebook-official fa-2x footerIcons" aria-hidden="true"></i></a>
        <a href="https://twitter.com/EvenTimeGo"><i class="fa fa-twitter-square fa-2x footerIcons" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/beautifulmiem/"><i class="fa fa-instagram fa-2x footerIcons" aria-hidden="true"></i></a>
        
      </div>
      <div class="col-sm-2">
        <h4>About</h4>
        <h6>About</h6>
      </div>
      <div class="col-sm-2">
        <h4>Contact</h4>
        <h6>Contact</h6>
      </div>
      <div class="col-sm-2">
        <h4>Legal</h4>
        <h6>Privacy & Security</h6>
      </div>
    </div>
  </div>

</footer>
<div class="container-fluid bottomStrip">

</div>

<!-- Scripts go here. -->
<!-- <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,fetch,Array.prototype.includes"></script> -->
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/signin.js"></script>
</body>
</html>
