<!DOCTYPE html>
<html>
<head>
  <title>Checklist</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <nav>
    <div class="container-fluid mainNav">
      <div class="row">
        <div class="col-sm-6 text-left">
          <ul class="list-unstyled list-inline">
            <li>EvenTime</li>
            <li>Checklist</li>
            <li>Agreement</li>
            <li>Vendor Info</li>
            <li>Timeline</li>
            <li>Budget</li>
          </ul>
        </div>
        <div class="col-sm-6 text-right">
          <ul class="list-unstyled list-inline pull-right">
            <li><div class="form-group"> <button class="btn btn-default">Log Out</button>
            </div></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="leftSummary">
                <div class="row">
                  <div class="col-sm-12">
                    <h1>Summary</h1>
                    <hr />
                    <h4>180 days left</h4>
                    <h4> progress bar....</h4>
                    <h4>3 out of 100 tasks done</h4>
                    <h4>Completed Todos</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12">
                  <h1>Master CheckList</h1>
                  <hr />
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
<div class="row">
  <div class="col-sm-1">
    <div class="checkbox">
<label><input type="checkbox" value=""></label>
</div>
  </div>
  <div class="col-sm-11">
    <h4>Check to see if your still sane</h4>
  </div>
</div>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-9">
              <div class="form-group">
                <label for="notes">Notes:</label>
                <textarea class="form-control" rows="3" id="notes"></textarea>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                       <label for="businessName"> Business Name</label>
                       <input type="text" class="form-control" id="businessName" placeholder="Enter Business Name" required>
                     </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="col-sm-1 pull-right">
              <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
              </div>
              <div class="col-sm-1 pull-right">
              <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>

  <footer>
    <div class="container-fluid footer-container">
              <div class="row">
                <div class="col-sm-6">

            <a href="https://www.facebook.com/ironandglory/"><i class="fa fa-facebook-official fa-2x footerIcons" aria-hidden="true"></i></a>
            <a href="https://twitter.com/ironandglory"><i class="fa fa-twitter-square fa-2x footerIcons" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/ironandglory/"><i class="fa fa-instagram fa-2x footerIcons" aria-hidden="true"></i></a>
            <a href="https://www.pinterest.com/ironandglorynyc/?etslf=1612&eq=iron%20glory"><i class="fa fa-pinterest-square fa-2x footerIcons" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/user/Ironpatches"><i class="fa fa-youtube-square fa-2x footerIcons" aria-hidden="true"></i></a>
                </div>
                <div class="col-sm-2">
              <h4>About</h4>
              <Link to="/About"><h6>About</h6></Link>
                </div>
                <div class="col-sm-2">
              <h4>Contact</h4>
              <Link to="/Contact"><h6>Contact</h6></Link>
                </div>
                <div class="col-sm-2">
              <h4>Legal</h4>
                <Link to="/Legal"><h6>Privacy & Security</h6></Link>
                </div>
              </div>
            </div>

  </footer>
  <!-- Scripts go here. -->

  <!-- <script type="text/javascript" src="js/global.js"></script> -->
</body>
</html>
