// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// @import "bootstrap-sprockets";
// @import "bootstrap";
@import "variables";
@import "mixins";
@import "datepicker";

*{
    box-sizing: border-box;
    // border: 1px dashed gray;
}
body, img {
    width: 100%;
}


.topstrip {
  background-color: white;
  height: 5px;
}

.indexNavBar {
    padding: 0;
    overflow: hidden;
    background-color: #33032F;
    margin-bottom: -10px;
    li {
        color: white;
        padding: 14px 16px;
    }
    .logotitle{
      font-family: 'Merriweather', serif;
      font-size: 40px;
      margin-top: 10px;
    }
    button {
      color: #C97B84;
      border-radius: 5px;
      border-size: 1px;
      margin-bottom: 10px;
      margin-top: 20px;
      font-family: 'Merriweather', serif;
    }
    button:hover {
	    background: rgba(0,0,0,0);
	    color: white;
	    box-shadow: inset 0 0 0 3px white;
    }
}
#suButton {
  background-color: #C97B84;
  color: white;
}
#siButton {
  background-color: #C97B84;
  color: white;
}
#uploadSignup {
    background-color: #33032F;
    color: white;
}
.navTitle {
  font-size: 20px;
}
.MovingCarousel{
  h1 {
    font-family: 'Merriweather', serif;
  }
}

.section2 {
  background-color: #33032F;
  margin-top: -40px;
  img {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  h1 {
    color: white;
    font-family: 'Merriweather', serif;
  }
  p {
    color: white;
  }
  li {
    color: white;
  }
}
.section3{
  background-color: white;
  color: #55595C;
  height: 30px;
}

.footer-container{
    background: #C97B84;
    color: white;
    margin-top: 200px;
    position: relative;
   bottom: 0;
   height: 75px;
   width: 100%;
    a:link {
        color: white;
      }
      a:visited {
        color: white;
    }
    a:hover {
        color: #55595C;
    }
}
.footerIcons {
  padding-right: 10px;
}
.bottomStrip {
  background-color:white;
  height: 10px;
}
//react nav
.mainNav {
  background-color: #33032F;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-bottom: 20px;
  .logoTitle {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      font-family: 'Merriweather', serif;
      font-size: 40px;
      margin-top: 5px;
  }
  .loggingOut {
    color: #C97B84;
    border-radius: 5px;
    border-size: 1px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 10px;
    font-family: 'Merriweather', serif;
  }
    button:hover {
      background: rgba(0,0,0,0);
      color: white;
      box-shadow: inset 0 0 0 3px white;
    }
}
.addFileBtn {
  margin-top: 10px;
}

.panel-title {
  cursor: pointer;
}

.panel-body {
    transition: all 0.3s ease;
}
.panel-title {
  background-color: white;
  margin:-10px -15px;

}
.completedTodo {
  background-color: rgb(245, 245, 245);

}
.checkbox {
  margin-left: 15px;
}

.panel-body-collapse {
    height: 0;
    opacity: 0;
    padding: 0;
    overflow: hidden;
}
//Home
.homePageTitlep {
    font-family: 'Merriweather', serif;
}
//checklist
.addTodobutton {
  background-color: #9D69A3;
  color: white;
  margin-top: 30px;
}
.masterName, .homePageTitle, .leftbarSum, .addEventTitle, .questionTitle{
  color: #C97B84;
    font-family: 'Merriweather', serif;
}
.donedone {
  margin-left: 8px;
}
.backgroundPink {
  background-color: rgb(246, 214, 222);
}
//addevent

.homePageTitleT {
  .homeBtn{
    color:#C97B84;
  }
  button:hover {
    background: #33032F;
    color: white;
    //box-shadow: inset 0 0 0 3px white;
  }
}
.addEventTitlet {
  .addeventsummitbtn{
    color:#C97B84;
  }
  button:hover {
    background: #33032F;
    color: white;
    //box-shadow: inset 0 0 0 3px white;
  }
}
.questionPage {
  .questionBtn{
    color:#C97B84;
  }
  button:hover {
    background: #33032F;
    color: white;
    //box-shadow: inset 0 0 0 3px white;
  }
}
