// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "mixins";
@import "datepicker";

*{
    box-sizing: border-box;
    // border: 1px dashed gray;
}
body, img {
    width: 100%;
}

.indexNavBar {
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 20px;
    li {
        color: white;
        padding: 14px 16px;
    }
}
.navTitle {
  font-size: 20px;
}

#uploadSignup {
    background-color: #9E1F63;
    color: white;
}
.mainNav {
  background-color: gray;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 20px;
  li {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
  }

}
.addFileBtn {
  margin-top: 10px;
}

.panel-body {
    transition: all 0.3s ease;
}

.panel-body-collapse {
    height: 0;
    opacity: 0;
    padding: 0;
}



.footer-container{
    background: gray;
    color: white;
    margin-top: 200px;
    position: relative;
   bottom: 0;
   height: 75px;
   width: 100%;
    a:link {
        color: white;
      }
      a:visited {
        color: white;
    }
    a:hover {
        color: black;
    }
}
.footerIcons {
  padding-right: 10px;
}
